/* Tablet */
@media screen and (max-width: 768px) {
	/* header */
	.header-bottom .header-bottom,
	.header-bottom a,
	.header-bottom {
		display: inline-block;
	}
	.header-bottom {
		padding: var(--size-10) var(--size-50);
	}
	.header-bottom div {
		display: block;
		float: right;
		padding-top: var(--size-10);
	}
	.navbar {
		display: none;
	}
	.navbar ul.show {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		padding: 0;
		text-align: center;
		animation: navbarFade 0.5s;
		transition: 0.3s ease-in-out;
	}
	@keyframes navbarFade {
		0% {
			transform: translateY(-20px);
		}
		100% {
			transform: translateY(0px);
		}
	}
	.navbar ul li {
		margin-bottom: var(--size-10);
	}
	.navbar ul li:last-child {
		padding-right: 5px;
		margin-bottom: 0;
	}
	.navbar ul .btn-primary {
		padding: 5px;
	}
	/* hero */
	#hero .container,
	.feature-bottom-container,
	.director-testimonial-wrapper,
	#hireUs .container {
		justify-content: initial;
		align-items: initial;
		text-align: center;
		flex-direction: column;
	}
	.hero-col1 {
		padding-bottom: var(--size-20);
	}
	.hero-col1 br,
	.feature-bottom-container br,
	.director-testimonial-wrapper .block-text br {
		display: none;
	}
	.hero-col2 {
		max-width: initial;
		padding: 0var (--size-50);
	}
	/* features */
	.feature-banner-wrapper {
		padding-top: var(--size-20);
		margin: auto;
	}
	.timeline-icons span {
		max-width: var(--size-60);
	}
	.timeline-icons {
		text-align: center;
	}
	.director-testimonial-wrapper {
		background-position: var(--size-30) var(--size-100);
	}
	.director-testimonial-wrapper .block-text {
		padding-top: var(--size-50);
		max-width: initial;
	}
	.director-testimonial-wrapper .block-text p {
		padding-bottom: 0px;
	}
	/* pricing */
	.pricing-card.featured-card {
		margin: auto;
	}
	/* hire us */
	.hire-us-col2 {
		margin-left: auto;
		margin-right: auto;
		margin-bottom: var(--size-20);
	}
	/* footer */
	.footer-address-col {
		order: 5;
		text-align: center;
		width: 100%;
		grid-column: 1 / span 4;
		grid-row: 4;
	}
}
/* Mobile phones */
@media screen and (max-width: 480px) {
	.hero-col1 .title {
		font-size: var(--size-40);
	}
	.hero-col1 .subtitle {
		font-size: 15px;
	}
	/* features */
	.feature-cards-wrapper {
		justify-content: center;
	}
	.pricing-card.featured-card {
		width: 100%;
		grid-column: initial;
		grid-row: 1 / 3;
	}
	/* learn */
	.timeline-icons span {
		max-width: var(--size-10);
		margin: 0;
	}
	.timeline-text {
		justify-content: center;
		flex-wrap: initial;
	}
	.timeline-text p {
		font-size: var(--size-10);
		padding: 0 2px;
	}
	/* pricing */
	#pricing {
		text-align: center;
	}
	/* footer */
	.footer-wrapper {
		grid-template-columns: repeat(2, 1fr);
		margin-left: var(--size-30);
	}
	.footer-address-col {
		grid-column: 1 / span 2;
	}
	.footer-company-wrapper,
	.footer-documentation-wrapper {
		margin: auto;
	}
}
