header {
	width: 100%;
	padding-bottom: 45px;
	background-color: var(--light-bg);
}
.header-top div a,
.header-top a {
	padding-right: 15px;
	margin-bottom: 10px;
	font-size: 12px;
}
.header-bottom.active {
	background-color: var(--white);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
	animation: fade 0.2s;
}
@keyframes fade {
	0% {
		transform: translateY(-20px);
	}
	100% {
		transform: translateY(0px);
	}
}
.header-bottom div {
	display: none;
}
.navbar ul.show {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	padding: 0;
	text-align: center;
	animation: navbarFade 0.5s;
	transition: 0.3s ease-in-out;
}
@keyframes navbarFade {
	0% {
		transform: translateY(-20px);
	}
	100% {
		transform: translateY(0px);
	}
}
.navbar ul {
	margin-left: 10px;
}
.navbar ul li {
	padding-right: 15px;
}
.home,
.navbar ul li a:hover,
.hero-col1 .btn:last-child {
	color: var(--font-color-link);
}
.navbar ul li:last-child a:hover {
	border: 1px solid #cecece;
	background-color: transparent;
}
/* hero */
#hero {
	background-color: var(--light-bg);
	padding-bottom: 50px;
}
#hero .container.flexbox {
	align-items: unset;
}
.hero-col1 {
	margin-top: 8px;
}
.hero-col1 .btn-group {
	margin-top: 25px;
}
.hero-col2 {
	display: grid;
	grid-template-areas:
		"google . . . . . asana"
		". . . . . . asana"
		". . atlassian . . . asana"
		". . . . . . ."
		"paypal . . . . weave ."
		". . google-ads . . . ."
		". . . . . . calendar";
	width: 100%;
	height: 100%;
	max-width: 400px;
}
.hero-col2 .hero-icon-wrapper,
.hero-col2 .google-icon-wrapper {
	border-radius: 50%;
	background-color: var(--white);
	padding: 20px;
}
.hero-col2 .hero-icon-wrapper {
	max-width: 70px;
	max-height: 70px;
	width: 100%;
}
.hero-col2 .google-icon-wrapper {
	max-width: 60px;
	max-height: 60px;
	padding: 10px;
}
.google {
	grid-area: google;
	margin-left: 10px;
}
.atlassian {
	grid-area: atlassian;
	margin-bottom: 40px;
}
.asana {
	grid-area: asana;
	margin-top: 10px;
}
.paypal {
	grid-area: paypal;
}
.weave {
	grid-area: weave;
}
.google-ads {
	grid-area: google-ads;
	margin-top: 40px;
}
.calendar {
	grid-area: calendar;
}
/* features */
.features-header {
	text-align: center;
	padding-top: 70px;
	padding-bottom: 40px;
}
.features-header .section-title {
	margin-bottom: 5px;
}
.feature-cards-wrapper .block {
	display: block;
	color: var(--font-color-link);
	padding-top: 10px;
}
.feature-card {
	box-shadow: 0 10px 10px rgba(221, 221, 221, 0.4);
	display: inline-block;
	max-width: 205px;
	width: 100%;
	padding: 15px;
	border-radius: 8px;
	transition: 0.1s ease-in-out;
}
.feature-card:hover {
	transform: scale(1.05);
}
.feature-content img {
	width: 45px;
	height: 45px;
}
.feature-content h3 {
	color: var(--font-color-dark);
}
.feature-content .subtitle {
	font-size: 11px;
	text-align: justify;
}
.feature-bottom-container {
	margin-top: 120px;
	background-color: var(--light-bg);
	width: 100%;
	height: 100%;
	min-height: 385px;
}
.feature-bottom-container .block-text {
	padding-left: 40px;
}
.feature-bottom-container h2 {
	font-size: 25px;
	line-height: 1.5;
}
.feature-banner-wrapper {
	width: 100%;
	max-width: 500px;
	margin-top: auto;
}

/* learn */
.learn-header {
	text-align: center;
	padding-top: 40px;
}
.learn-timeline {
	padding-top: 70px;
	max-width: 620px;
	width: 100%;
	margin: auto;
}
.timeline-icons i {
	display: inline;
	background-color: var(--light-bg);
	padding: 15px;
	font-size: 5px;
	color: #00c9a6;
	border-radius: 50%;
	text-align: center;
}
.timeline-icons i:first-child {
	padding-left: 20px;
}
.timeline-icons span {
	display: inline-block;
	background-color: #cecece;
	height: 1.02px;
	width: 100%;
	max-width: 100px;
	margin: 0 20px;
}
.timeline-icons span:last-child {
	display: none;
}
.timeline-text {
	padding-top: 10px;
	font-weight: 700;
}
.learn-banner {
	padding-top: 40px;
	position: relative;
	height: 100%;
	margin-right: auto;
	margin-left: auto;
	width: 100%;
	height: 100%;
	max-width: 680px;
	max-width: 680px;
	max-height: 375px;
}
.learn-banner img {
	width: 100%;
	height: 375px;
	object-fit: cover;
}
.learn-btn {
	background-color: var(--white);
	padding: 15px 20px;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 45%;
}
.learn-btn i {
	font-size: 22px;
	color: var(--font-color-dark);
	transform: rotate(40deg);
}
.director-testimonial-wrapper {
	background-image: url("../assets/icons/dots.svg");
	background-position: 35px 100%;
	background-size: 150px;
	background-repeat: no-repeat;
	padding-top: 145px;
	min-height: 620px;
}
.director-img {
	max-width: 360px;
	margin-left: 70px;
}
.director-testimonial-wrapper .block-text {
	width: 100%;
	max-width: 400px;
}
.director-testimonial-wrapper .block-text img {
	max-width: 80px;
}
.director-testimonial-wrapper .block-text p {
	font-size: 18px;
	line-height: 1.4;
	padding-bottom: 30px;
}
.info-person {
	padding-bottom: 20px;
}
.company-logo-wrapper {
	margin-top: 80px;
	text-align: center;
	justify-content: space-evenly;
}
.company-logos {
	justify-content: space-around;
	margin-top: 40px;
}
.company-logo-wrapper img {
	width: 100%;
	max-width: 70px;
}
/* pricing */

.pricing-header {
	padding: 70px 0;
	text-align: center;
}
.pricing-cards-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
	gap: 10px;
	width: 100%;
}

.pricing-card {
	width: 100%;
	margin: 10px;
}
.pricing-card img {
	width: 30px;
	height: 30px;
}
.pricing-card.featured-card {
	grid-row: 1 / span 2;
	grid-column: 1 / span 2;
	margin-right: 20px;
	box-shadow: 0 10px 10px rgba(221, 221, 221, 0.4);
	border-radius: 5px;
	padding-top: 10px;
	width: 100%;
	max-width: 360px;
}
.price {
	font-size: 47px;
	font-weight: 600;
	margin: 0;
	padding-left: 10px;
}
.price::after {
	content: "";
	display: block;
	width: 100%;
	max-width: 250px;
	height: 1px;
	background-color: #cecece;
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;
}
.price span {
	font-weight: 400;
	font-size: 20px;
}
.pricing-card .section-subtitle {
	line-height: 1.5;
}
.featured-card .section-subtitle {
	display: block;
	padding-top: 20px;
	padding-left: 25px;
}
.pricing-card .btn-group {
	padding: 40px;
}
.btn-group .section-subtitle {
	display: block;
	padding-top: 8px;
	padding-left: 0;
	font-size: 10px;
}
/* hire us */
.hire-us-bg {
	background-color: var(--dark-bg);
	color: var(--white);
	width: 100%;
	margin-top: 95px;
	height: 100%;
	min-height: 640px;
}
.hire-us-col1 {
	height: 100%;
	margin-top: 20px;
	margin-left: 35px;
}
.hire-us-col1 .section-subtitle {
	color: #cecece;
}
.testimonials-wrapper {
	padding-top: 40px;
}
.testimonial-desc {
	font-size: 18px;
	font-style: italic;
}
.testimonials-wrapper .person-name {
	font-size: inherit;
	margin-bottom: 0;
}
.testimonials-wrapper .person-position {
	color: #cecece;
}
.people-icons {
	margin-top: 25px;
	margin-left: 10px;
}
.people-icons img {
	width: 28px;
	height: 28px;
	border-radius: 50%;
	object-fit: cover;
	opacity: 0.6;
}
.people-icons img:nth-child(2) {
	margin-left: 25px;
}
.people-icons img:last-child {
	margin-left: 14px;
	width: 40px;
	height: 40px;
	opacity: initial;
}
.hire-us-col2 {
	background-color: var(--white);
	width: 100%;
	height: 100%;
	max-width: 387px;
	margin-right: 54px;
	margin-top: 50px;
	padding: 25px 40px;
	border-radius: 5px;
	box-shadow: 0 0 15px rgba(180, 172, 172, 0.4);
}
.hire-us-col2 h2 {
	color: var(--font-color-dark);
	font-size: 17px;
	line-height: 1.3;
}
.input-fields {
	flex-wrap: initial;
	margin-top: 23px;
}
.hire-us-col2 input {
	width: 100%;
	color: var(--font-color-base);
}
.input-fields select {
	cursor: pointer;
	width: 100%;
}
.input-fields input:nth-child(2),
.input-fields select:nth-child(2) {
	margin-left: 10px;
}
.input-fields.policy {
	align-items: initial;
	margin-top: 10px;
}
input[type="checkbox"] {
	display: inline;
	margin: 0;
	margin-top: 5px;
	padding: 0;
	width: initial;
}
.input-fields.policy div:last-child {
	padding-left: 5px;
	margin-bottom: 20px;
}
.input-fields.policy a {
	font-size: 10px;
	border-bottom: 2px dashed #cecece;
}
.hire-us-col2 textarea {
	width: 100%;
	padding-bottom: 40px;
	margin-top: 20px;
	margin-bottom: 0;
}
.hire-us-col2 .btn-outline {
	color: var(--white);
	margin-bottom: 20px;
	cursor: pointer;
}

/* footer */
.footer-wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
	padding-top: 90px;
	padding-bottom: 40px;
}
.footer-address-col {
	width: 100%;
	grid-column: 1 / span 2;
	padding: 10px 0;
	margin-right: 20px;
}
.footer-wrapper ul {
	padding: 0;
}
address span {
	display: block;
}
.footer-wrapper a,
.footer-wrapper .section-subtitle {
	font-size: 11px;
}
.footer-wrapper ul li {
	margin-bottom: 15px;
}
.footer-wrapper h4 {
	margin-bottom: 0;
	font-weight: 600;
}
